public class Student {
    
    private String studentID;
    private String firstName, lastName,
    email, course, enrollDate;
    private int age, phone, yearLvl;
    private double gpa;


    public Student(int studentID,string firstName, 
        String lastName, int age, String email,
        int phone, String course,
        int year, double gpa, String enrollDate) {

        this.firstName = firstName;
        this.lastName = lastName;
        this.age = age;
        this.email = email;
        this.phone = phone;
        this.course = course;
        this.yearLvl = year;
        this.gpa = gpa;
        this.enrollDate = enrollDate;
        }
   
     public int getStudentID() {
        return studentID;}
    public String getFirstName() {
        return firstName;}
    public String getLastName() {
        return lastName;}
    public int getAge() {
        return age;}
    public String getEmail() {
        return email;}
    public int getPhone() {
        return phone;}
    public String getCourse() {
        return course;}
    public int getYearLvl() {
        return yearLvl;}
    public double getGpa() {
        return gpa;}
    public String getEnrollDate() {
        return enrollDate;}

     public void printInfo(){
       System.out.println("ID: " + studentID +
       " | Name: " + firstName + " " + lastName + " | GPA:" + gpa);
            
     }

 }
* text=auto
public class Main {
    public static void main(String[] args) {
        Repository repo = new Repository();

        
        repo.addStudent(new Student(0, "Ishigami", "Ree", 21, "kazeree@gmail.com", 63145151, "BSIT", 2, 4.1, "02/10/2026"));
        repo.addStudent(new Student(0, "Alice", "Guo", 20, "alice@gmail.com", 63215566, "BSCS", 1, 3.5, "02/12/2026"));
        repo.addStudent(new Student(0, "Bob", "Reyes", 22, "bob@gmail.com", 63554433, "BSIT", 3, 2.8, "02/12/2026"));
        repo.addStudent(new Student(0, "Charlie", "Santos", 19, "charlie@gmail.com", 63998877, "BSIS", 1, 3.9, "02/13/2026"));
        repo.addStudent(new Student(0, "Diana", "Cruz", 21, "diana@gmail.com", 63112233, "BSCS", 2, 4.0, "02/14/2026"));
        repo.addStudent(new Student(0, "Ethan", "Mercado", 23, "ethan@gmail.com", 63776655, "BSIT", 4, 3.2, "02/15/2026"));
        repo.addStudent(new Student(0, "Fiona", "Dizon", 20, "fiona@gmail.com", 63443322, "BSIS", 2, 2.5, "02/15/2026"));
        repo.addStudent(new Student(0, "George", "Luna", 21, "george@gmail.com", 63887766, "BSCS", 3, 3.7, "02/16/2026"));
        repo.addStudent(new Student(0, "Hannah", "Velasco", 22, "hannah@gmail.com", 63221100, "BSIT", 3, 3.1, "02/17/2026"));
        repo.addStudent(new Student(0, "Ian", "Aquino", 19, "ian@gmail.com", 63665544, "BSCS", 1, 3.6, "02/18/2026"));

   
        System.out.println("--- Master List ---");
        for (Student s : repo.getList()) {
            s.printInfo();
        }
    }
}