# Auto detect text files and perform LF normalization
* text=auto
public class Main {
    public static void main(String[] args) {
        Repository repo = new Repository();

        
        repo.addStudent(new Student(0, "Alice", "Smith", 20, "AliceSmith@gmail.com", 6391234, "BSIT", 1, 3.8, "2026"));
        repo.addStudent(new Student(0, "Bob", "Jones", 21, "Bob@gmail.com", 63454545, "BSEE", 2, 4.1, "2026"));
        repo.addStudent(new Student(0, "Reymark", "Magsipoc", 21, "Reymark@gmail.com", 63145151, "BSIT", 2, 4.1, "2026"));

   
        System.out.println("--- Master List ---");
        for (Student s : repo.getList()) {
            s.printInfo();
        }
    }
}